entities:
  - name: OpenAI
    type: company
    priority: 1
  - name: Mistral
    type: company
    priority: 1
  - name: Nvidia
    type: company
    priority: 1
  - name: Servier
    type: company
    priority: 2
  - name: CEVA
    type: company
    priority: 2
  - name: Kuehne+Nagel
    type: company
    priority: 2
